*{
    background-color: rgb(172, 195, 216);
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}

.ulFirst{
    list-style-type: none;
    display: flex;
    gap: 10px;
}
.divFirst{
    /* width: 400px; */
    border: solid 2px blue;
    /* margin-left: 30px;
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 50px; */
    /* margin : 40px 30px ;
    padding: 20px; */
}
/* #h1{
    /* padding-left: 80px;
    padding-bottom: 20px;
    padding-top: 40px;
    padding-right: 80px; 
    padding : 40px 80px 20px 80px;

} */
.divSecond{
   
    width: 400px;
    border: solid 2px blue;
    /* margin-left: 30px;
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 50px; */
   margin : 10px auto;
    padding: 20px;
    text-align: center;
    height: 100px;
    overflow: scroll;
}
.text-shadow{
    text-shadow: 5px 5px 20px rgb(255, 77, 0);
    font-weight: 800;
    text-decoration: underline;
    
    text-transform: capitalize;
}
