.link2{
    text-decoration: none;
    position: absolute;
}
.hr__link2{
position: relative;
top: -10px;
width: 0px; 
visibility: hidden;
transition-duration: 500ms;
}
.link2:hover .hr__link2{
    visibility: visible;
    width: 40px;

}
.box{
    width: 300px;
    height: 300px;
    background-color: aqua;
    transition-duration: 1000ms;
    transition-timing-function: ease-out;
    /* transition-duration: 1000ms;
    transition-timing-function: ease-in-out; */
    /* transition: 1s ease-in 1000ms; */
    /* transition-property: background ; */
    /* transition-delay: 1s; */
    /* transition-duration: 500ms;
    transition-property: background , transform ;
    transition-timing-function: ease-in;
    transition-delay: 1s;
    transition: 1s background   ease-in, 500ms transform  ease-in; */
}
.box:hover{
    /* background-color: rgb(141, 203, 26);
    transform: rotate(45deg); */
    width: 600px
}
.btn{
    padding: 20px;
    margin-top:50px ;
    transition-duration:1000ms ;
}
.btn:hover{
    transform: translateX(20px); 
    scale: 1.5;
}
.link{
    text-decoration:none;
    position: absolute;
}
.hrt{
    position: relative;
    top: -10px;
    width: 0px;
    transition-property: width;
    transition-duration: 500ms;
}
.link:hover .hrt{
    width: 30px;
    color: rgb(38, 202, 46);
    scale: 1.5;
}

.element{

    width: 200px;
    height: 180px;
    background-color: brown;
    animation-name: spin2 ;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 1s ;
    animation-iteration-count: 2;
    /* animation-direction: reverse; */
    /* animation-direction: alternate; */
    /* animation-fill-mode: ; */
    /* animation-play-state: paused; */
}
/* .element:hover{
    animation-play-state: running;
} */
@keyframes spin2{
    0%{
        background-color: black;
        border-radius: 5px;
    }

    50%{
        scale: 2 ;
        transform: rotate(0);
        border-radius: 0;
        background-color: aqua;
    }
    100%{
        transform: rotate(360deg);
        border-radius: 50%;
                /* scale: 2 ; */

    }
}
.loading{
    height: 50px;
    width: 50px;
    border: 6ps solid blue;
    border-radius: 4px;
    box-shadow: 0 0 8px blue;
    position: absolute;
    top:100%;
    left: 50%;
    /* translate: -50% -50%; */
    animation: 2s loading ease-in-out infinite;
}
@keyframes loading{
    0%{
        transform:rotateX(0) rotateY(0) rotateZ(0) ;
    }
    33%{
        transform:rotateX(180deg) rotateY(0) rotateZ(0) ;
    }
    77%{
        transform:rotateX(180deg) rotateY(180deg) rotateZ(0) ;
    }
    100%{
        transform:rotateX(180deg) rotateY(180deg) rotateZ(180deg) ;
    }
}
