*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 12px;
    background-color: rgba(13, 13, 13, 0.875);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(1020px);
    z-index: 100; 
    opacity: 0.8;

}

.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

.logo:hover{
    color: rgb(28, 211, 165);
    text-shadow: 0 0 25px rgb(30, 188, 209);
    transform: scale(1.1);
}

span{
    color: rgb(33, 182, 40);
}

.navbar a {
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    /* border-bottom: 3px solid transparent; */
    transition: 0.3s ease;
}
.navbar a:hover, .navbar a.active{
    color: orange;
    border-bottom: 3px solid orange;
}

.contact{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.contact:hover{
    background-color: orange;
    box-shadow: 0 0 25px orange;
    color: white;
}

.home{
    width: 100%;
    min-height: 100vh;
    background: rgb(210, 167, 167);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    padding: 120px 12% 0 ;
    
}

/* .home__content{
    max-width: 800px;

} */

.home__content h3{
    font-size: 42px;
}
.home__content h1{
    font-size: 62px;
    line-height: -50px;
}
.home__content p {
    font-size: 18px ;
    margin: 25px 0 30px;
}
.btn__box{
    width: 345px;
    display: flex;
    gap: 5px;
}
.btn__1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition:0.3s ease ;
    cursor: pointer;
}
.btn__1:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
.btn__2{
    padding: 15px 28px;
    background-color: orange;
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn__2:hover{
    background-color: white;
    color: orange;
}

/* .img__box{
   margin-left: 305px;
} */
.img__box img{
    border-radius: 50%;
    width: 400px;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(89, 230, 8);
}
::-webkit-scrollbar-track{
    background-color: rgb(5, 154, 212);
}

.about{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 20px;
    background: black;
}
.about-img img{
    width: 300px;
    box-shadow: 0 0 25px orange, 0 0 50px rgb(0, 255, 98);
}
.about__content{
    margin-left: 70px;
    
}
.about__content h2{
    color: white;
    font-size: 42px;
}
.about__content h3{
    font-size: 65px;
    color: white;
}

.about__content p{
    font-size: 20px;
    margin: 20px;
    color: white;
}

.contact-form h2{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 36px;
}

.contact-form form {
    max-width: 700px;
    margin: 3px auto;
    text-align: center;
    margin-bottom: 5px;
}

/* .contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} */

.contact-form form .input-box input,
.contact-form form textarea{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: black;
    background: wheat;
    border-radius: 10px;
    margin: 3px 0;
    resize: none;
} 

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}

.footer .social{
    text-align: center;
    padding-bottom:25px ;
}

.footer .social a{
    font-size: 24px;
    color: white;
    border: 2px solid orangered;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px orangered, 0 0 0px orangered;
    transition: 0.3s ease;
}
.footer .social a:hover{
    transform: scale(1.2) translateY(-10px);
    color: orangered;
    border: 2px solid orangered;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 50px;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a {
    color: white;
    transition: 0.3s ease;
}
.footer ul li a:hover{
    border-bottom: 3px solid orangered;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
}

@media(max-width : 500px){
    .navbar{
        display: flex;
        flex-direction: column;
    }
    .home{
        display: flex;
        flex-direction: column;
    }
    .home__content{
        padding-top: 50px;
        padding-left: 100px;
    }
    .about{
        display: flex;
        flex-direction: column-reverse;
    }
}  
